    div {
      padding: 20px 50px;
    }


    body {
      display: flex;
      min-height: 100vh;
      flex-direction: column;
    }

    main {
      flex: 1 0 auto;
    }
    html {
        font-family: "Courier New", Courier, monospace;
        /*font-weight: bold;*/
      }
      .center .hide-on-med-and-down {
        font-size: 20px;
        font-weight: 100;
      }
      .btn, .btn-large {
        background-color: #e91e63 !important;
      }
      .font-size {
        font-size: 30px;
      }
      .center .font-weight {
        font-weight: bold;
      }
